<div class="flexrow l5r5e approach-filter number-filter">
    <label>{{localize 'l5r5e.approaches.label'}}:</label>
<i data-approach="power" data-approachId="1" data-tooltip="{{localize 'l5r5e.approaches.power'}}" class="i_power"></i>
<i data-approach="swiftness" data-approachId="2" data-tooltip="{{localize 'l5r5e.approaches.swiftness'}}" class="i_swiftness"></i>
<i data-approach="resilience" data-approachId="3" data-tooltip="{{localize 'l5r5e.approaches.resilience'}}" class="i_resilience"></i>
<i data-approach="precision" data-approachId="4" data-tooltip="{{localize 'l5r5e.approaches.precision'}}" class="i_precision"></i>
<i data-approach="fortune" data-approachId="5" data-tooltip="{{localize 'l5r5e.approaches.fortune'}}" class="i_fortune"></i>
</div>