/** Colors **/

// -- Global
$white: rgba(255, 255, 255, 1);
$white-light: rgba(255, 255, 255, 0.85);
$black: rgba(0, 0, 0, 1);
$black-light: rgba(15, 15, 15, 1);
$dark-red: rgba(255, 50, 50, 0.8);
$red: rgba(255, 100, 100, 1);
$red-light: rgba(255, 100, 100, 0.8);
$red-dice: rgb(255, 50, 50);
$orange: rgba(255, 102, 0, 0.9);
$blue: rgba(0, 255, 255, 0.8);
$green: rgba(0, 255, 150, 0.8);

// color title
$l5r5e-title: rgba(200, 200, 200, 0.9);
// color bold
$l5r5e-bold: rgb(255, 102, 0);
// color label
$l5r5e-label: rgb(0, 255, 255);
// color label
$l5r5e-label-light: rgba(0, 255, 255, 0.3);
// color red
$l5r5e-red: rgb(255, 100, 100);
// color white 0.5
$l5r5e-white: rgba(255, 255, 255, 0.9);
// color white 0.2
$l5r5e-white-light: rgba(255, 255, 255, 0.6);
// color black 0.5
$l5r5e-black: rgba(0, 0, 0, 0.8);
// color black 0.25
$l5r5e-black-light: rgba(15, 15, 15, 0.9);
// color border sidebar
$l5r5e-border-sidebar: rgb(0, 255, 255);

// color list odd
$l5r5e-odd: rgba(0, 255, 255, 0.1);
// color list even
$l5r5e-even: rgba(255, 102, 0, 0.05);

// gradient
$l5r5e-linear-gradient-first: rgba(0, 20, 40, 0.9);
$l5r5e-linear-gradient-first-dark: rgba(0, 10, 20, 0.95);
$l5r5e-linear-gradient-second: rgba(0, 40, 60, 0.8);
$l5r5e-linear-gradient-second-dark: rgba(0, 20, 30, 0.9);
$l5r5e-linear-gradient-third: rgba(0, 255, 255, 0.8);
$l5r5e-linear-gradient-third-dark: rgba(0, 200, 255, 0.9);

// Chat color
$l5r5e-chat-color: rgba(200, 200, 200, 0.9);
$l5r5e-chat-color-roll: rgba(0, 255, 255, 0.9);
$l5r5e-chat-color-blind: transparent;
$l5r5e-chat-color-whisper: rgba(255, 102, 0, 0.9);

// -- Rings

// Earth
$l5r5e-earth: rgb(0, 255, 150);
// Air
$l5r5e-air: rgb(0, 200, 255);
// Water
$l5r5e-water: rgb(0, 150, 255);
// Fire
$l5r5e-fire: rgb(255, 150, 0);
// Void
$l5r5e-void: rgb(255, 50, 150);

// -- Clans

// Crab
$l5r5e-crab: rgb(0, 255, 200);
// Crane
$l5r5e-crane: rgb(255, 200, 0);
// Dragon
$l5r5e-dragon: rgb(200, 0, 255);
// Lion
$l5r5e-lion: rgb(255, 100, 0);
// Mantis
$l5r5e-mantis: rgb(0, 200, 100);
// Phoenix
$l5r5e-phoenix: rgb(255, 150, 0);
// Tortoise
$l5r5e-tortoise: rgb(150, 255, 0);
// Scorpion
$l5r5e-scorpion: rgb(255, 0, 100);
// Unicorn
$l5r5e-unicorn: rgb(100, 0, 255);
// Imperial
$l5r5e-imperial: rgb(255, 255, 0);
// Ronin
$l5r5e-ronin: rgb(150, 150, 150);

// Bushi
$l5r5e-bushi: rgb(255, 50, 50);
// Courtier
$l5r5e-courtier: rgb(0, 150, 255);
// Shugenja
$l5r5e-shugenja: rgb(0, 255, 150);

// -- Techs
// Invocations
$l5r5e-invocations: rgb(255, 100, 0);
// Kata
$l5r5e-kata: rgb(255, 0, 100);
// Kiho
$l5r5e-kiho: rgb(0, 255, 100);
// Maho
$l5r5e-maho: rgb(255, 0, 200);
// Ninjitsu
$l5r5e-ninjitsu: rgb(100, 100, 100);
// Prerequisite
$l5r5e-prerequisite: rgb(150, 150, 150);
// Rituals
$l5r5e-rituals: rgb(0, 200, 255);
// Shuji
$l5r5e-shuji: rgb(0, 255, 200);
// Inversion
$l5r5e-inversion: rgb(200, 200, 200);
//Mantra
$l5r5e-mantra: rgb(255, 200, 0);
