/** Modules Compatibility fixes **/

// Fix for "search anywhere" draggable icon
.window-draggable-handle {
    z-index: 20 !important;
}

// Fix forien-quest
#forien-quest-log .window-content,
#forien-quest-log-form .window-content,
.window-app.forien-quest-preview .window-content {
    overflow: initial;
}

// Fix OneJournal header buttons in maximized state
#OneJournalShell:first-child > .window-header,
#OneJournalShell.maximized > .window-header {
    z-index: 20;
}
