
/* lists */
ul,
li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

// Elements Colors
.earth {
    color: $l5r5e-earth;
}
.air {
    color: $l5r5e-air;
}
.water {
    color: $l5r5e-water;
}
.fire {
    color: $l5r5e-fire;
}
.void {
    color: $l5r5e-void;
}

// inputs
input[type="text"],
input[type="number"],
input[type="password"],
input[type="date"],
input[type="time"],
textarea {
    padding: 0.5rem;
    background: rgba(20, 20, 30, 0.8);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(0, 255, 255, 0.4);
    color: $white-light;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 255, 255, 0.2);
    resize: vertical;
    &:focus {
        border-color: $orange;
        box-shadow: 0 0 10px rgba(255, 102, 0, 0.5);
        outline: none;
    }
    &[disabled] {
        background: rgba(10, 10, 15, 0.9);
        color: rgba(150, 150, 150, 0.7);
    }
}
input[type="number"] {
    text-align: center;
}

&.system-badge {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    padding: .25rem;

    > img {
      height: 128px;
      border: none;
      object-fit: contain;
    }

    .system-info {
      position: relative;
      font-size: var(--font-size-16);
      i {
        padding-inline-start: 2px;
        font-size: var(--font-size-12);
      }
    }
}

&.sidebar-info {
    margin-bottom: -.5rem;

    .system-badge { margin-top: .5rem; }

    .notification-pip {
      color: var(--color-text-accent);
      font-size: var(--font-size-12);
      top: 4px;
      right: -14px;
    }

    ul.unlist {
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;
        list-style: none;
        clip-path: inset(0 0 0 2ch); // remove separator if on new line
    }
    ul.links {
      gap: 0;
      margin-top: 6px;
      margin-left: 10%; // just to center the link list a little

      li {
        padding-left: 1ch;
        white-space: nowrap;
      }

      li::before {
        content: "•";
        display: inline-block;
        margin-right: 1ch;
        width: 1ch;
        text-align: center;
      }
    }
  }