@layer system {
/* Global */
@import "../scss/colors";
@import "../scss/global";
@import "../scss/compatibility-modules";
@import "../scss/fonts";
@import "../scss/cursors";
@import "../scss/ui";
@import "../scss/global-appv2.scss";

    .l5r5e {
        @import "../scss/dices";
        @import "../scss/l5r5e-global";
        @import "../scss/dices-chat";
        @import "../scss/sheets";
        @import "../scss/npc";
        @import "../scss/army";
        @import "../scss/nav";
        @import "../scss/rings";
        @import "../scss/skills";
        @import "../scss/items";
        @import "../scss/twenty-questions";
    }
}