<ul class="approaches">
    <li id="resilience">
        <label class="resilience {{#ifCond 'resilience' '==' data.system.stance}}stance-active{{/ifCond}}">
            <i class="i_resilience dice-picker rollable" data-approach="resilience"></i>
            <strong>{{localizeApproach 'resilience'}}</strong>
            <input class="centered-input select-on-focus" type="number" name="system.approaches.resilience" value="{{data.system.approaches.resilience}}" data-dtype="Number" min="1" max="9" placeholder="0" {{^if data.editable_not_soft_locked}}disabled{{/if}}/>
        </label>
    </li>
    <li id="precision">
        <label class="precision {{#ifCond 'precision' '==' data.system.stance}}stance-active{{/ifCond}}">
            <i class="i_precision dice-picker rollable" data-approach="precision"></i>
            <strong>{{localizeApproach 'precision'}}</strong>
            <input class="centered-input select-on-focus" type="number" name="system.approaches.precision" value="{{data.system.approaches.precision}}" data-dtype="Number" min="1" max="9" placeholder="0" {{^if data.editable_not_soft_locked}}disabled{{/if}}/>
        </label>
    </li>
    <li  id="swiftness">
        <label class="swiftness {{#ifCond 'swiftness' '==' data.system.stance}}stance-active{{/ifCond}}">
            <i class="i_swiftness dice-picker rollable" data-approach="swiftness"></i>
            <strong>{{localizeApproach 'swiftness'}}</strong>
            <input class="centered-input select-on-focus" type="number" name="system.approaches.swiftness" value="{{data.system.approaches.swiftness}}" data-dtype="Number" min="1" max="9" placeholder="0" {{^if data.editable_not_soft_locked}}disabled{{/if}}/>
        </label>
    </li>
    <li id="power">
        <label class="power {{#ifCond 'power' '==' data.system.stance}}stance-active{{/ifCond}}">
            <i class="i_power dice-picker rollable" data-approach="power"></i>
            <strong>{{localizeApproach 'power'}}</strong>
            <input class="centered-input select-on-focus" type="number" name="system.approaches.power" value="{{data.system.approaches.power}}" data-dtype="Number" min="1" max="9" placeholder="0" {{^if data.editable_not_soft_locked}}disabled{{/if}}/>
        </label>
    </li>
    <li id="fortune">
        <label class="fortune {{#ifCond 'fortune' '==' data.system.stance}}stance-active{{/ifCond}}">
            <i class="i_fortune dice-picker rollable" data-approach="fortune"></i>
            <strong>{{localizeApproach 'fortune'}}</strong>
            <input class="centered-input select-on-focus" type="number" name="system.approaches.fortune" value="{{data.system.approaches.fortune}}" data-dtype="Number" min="1" max="9" placeholder="0" {{^if data.editable_not_soft_locked}}disabled{{/if}}/>
        </label>
    </li>
</ul>